body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 10vh;
    align-items: center;
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.top-panel {
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 15vh;
    align-items: center;
    background-color: #1f2937;
    align-items: flex-start;
}

.top-left-panel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 8vw;
    justify-content: start;
    align-items: flex-start;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    padding-top: 0;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.top-right-panel {
display: flex;
align-items: center;
justify-content: center;
}

.top-right-panel > img {
    width: 35vw;
    height: 25vh;
    flex: 1;
}

button {
    background-color: #3882f6;
    font-size: 16px;
    color: white;
    width: 95px;
    height: 28px;
    border-radius: 5px;
    border: 0;
    margin-top: 10px;
}

.mid-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mid-title {
    font-size: 36px;
    font-weight: 800;
    color: #1d2937;
    flex: 1;
    padding: 30px;
}

.card-panel {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 10vh;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 150px;
    text-align: center;
}

 .card > img {
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 5px;
}

.quote-panel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: end;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    padding: 13vh 25vw 13vh 25vw;
}

.signature {
    font-weight: 600;
}

.bottom-panel {
    display: flex;
    justify-content: space-between;
    padding: 5vh 8vw 5vh 2vw;
    background-color: #3882f6;
    margin: 10vh 10vw 10vh 10vw;
    border-radius: 10px;
}

.bottomtext {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    color:#f9faf8
}

.bottom-main-text {
    font-size: 24px;
    font-weight: 800;
}

.bottom-secondary-text{
    font-size: 18px;
}

.button > button {
    border: 1px solid white;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1d2937;
    color: #e5e7eb;
    padding: 30px;
}